{% extends 'base.html' %}
{% block main %}
    <div class="car-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="small mb-1" for="{{ form.make.id_for_label }}">Марка авто:</label>                <!-- Форма для создания нового авто -->
                {{ form.make }}
            <label class="small mb-1" for="{{ form.model.id_for_label }}">Модель авто:</label>
                {{ form.model }}
            <label class="small mb-1" for="{{ form.year.id_for_label }}">Год авто:</label>
                {{ form.year }}
            <label class="small mb-1" for="{{ form.description.id_for_label }}">Описание авто:</label>
                {{ form.description }}
            {{ comment_form.as_p }}
            <button type="submit">{{ title }}</button>                                                      <!-- Кнопка для отправки формы -->
        </form>
        <a href="{% url 'cars:car_list' %}">Вернуться к списку машин</a>                                    <!-- Меню возврата к списку машин -->
    </div>
{% endblock %}
